<h1>Programming Languages</h1>
<% @categories.each do |category| %>
<ul>
  <li>
    <div class="list-group-item">
      <%= link_to category.name, category_path(category) %>
      <%= "(#{category.snippets.count} Snippets)"%>
    </div>
  </li>
</ul>
<% end %>
